manifest {
    name            = 'simpleTest'
    author          = 'formbio'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.04.0'
    version         = 'v0.0.1'
}
// Load base.config by default for all pipelines
workDir = 'gs://jam-workflow-testing/test/work'
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
docker {
  runOptions = "--gpus all"
  enabled = true
  userEmulation = true
}
params {
 citest=false
 repoDir='/seqprg'
 cloudprj = 'bioinfo-devel'
 version = 'latest'
 registry = "gcr.io/${params.cloudprj}"
 output='output'
}
google {
  region  = 'us-central1'
  project = "${params.cloudprj}"
  lifeSciences.bootDiskSize = 50.GB
  lifeSciences.debug = true
  lifeSciences.sshDaemon = true
  batch.bootDiskSize = 50.GB
  batch.debug = true
  batch.sshDaemon = true
}
process {
  executor = 'google-lifesciences' //'google-batch'
  cache = 'lenient'
  withLabel: test {
    container = "ubuntu:latest"
    machineType='e2-standard-16'
    disk='10 GB'
  }
}
profiles {
    local {
        process.executor = 'local'
        workDir = 'workflow-output-local'
        process.queue=10
        docker.enabled = true
        docker.runOptions=""
        docker.userEmulation = true
    }
}